@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import 'components/variables';
@import 'components/helpers';
@import 'components/overwrite';
@import 'components/fonts';
@import 'components/mixins';

body {
	font-family: $mainFont;
	font-size: 13px;
	background: black;

	&.page {
		background: url('../../images/restaurant_icons.png') repeat; //$subpageBackground;

		.als-main-content {
			margin-left: 46px;
		}

		.social-icons {
			a {
				color: #333;
			}
		}
	}

	&.not-found {
		
		.als-main-content {
			margin-top: 0;
		}

		.not-found__title {
			font-size: 40px;
			font-weight: 300;
		}
	}
}

.pattern {
	// width: 100%;
	// height: 100%;
	// background: url('../../images/pattern.png') repeat;
	// opacity: .2;
	// position: fixed;
}

.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
}


.pageTitle {
	color: #333;
	font-family: $clarenBold;
	text-transform: uppercase;
	margin-bottom: 50px;
}

header {
	background: $headerStripeBackground;
	height: 34px;
	box-shadow: 2px 0px 3px #333;

	h1 {
		margin: 0;
	}

	nav {
		&.top-nav {
			float: right;
			margin-top: 6px;
			ul {
				list-style: none;
				li {
					a {
						color: #A6A6A3;
						font-size: 11px;
						&:hover {
							color: white;
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}

nav {
	&.main-nav {
		width: 113px;
		background: $darkYellow;
		margin-top: 10px;
		ul {
			list-style: none;
			padding-left: 0;
			li {
				border-bottom: 1px solid $darkYellow;
				a {
					color: #333;
					font-size: 10px;
					display: block;
					font-weight: bold;
					text-transform: uppercase;
					padding: 8px 15px;
					&:hover {
						text-decoration: none;
					}
				}
				&:nth-child(odd) {
					background: $yellow;
				}				

				&:nth-child(even) {
					background: darken($yellow, 1%);
				}
			}
		}
	}
}

.social-icons {
	width: 113px;
	text-align: center;
	a {
		color: white;
		font-size: 20px;
		margin-right: 12px;
		&:hover {
			text-decoration: none;
		}
	}
}

.als-main-content {
    margin-top: -63px;
    margin-left: 26px;	

	.featured-details {
		h1 {
			color: #333;
			font-family: $clarenBold;
			text-transform: uppercase;
			margin-top: 100px;
			margin-bottom: 50px;
		}

		h2 {
			font-size: 24px;
		}

		img {
			margin-top: 50px;
		}

	}
	
    .menus {
    	
    	.col {
    		margin-bottom: 50px;

    	}

		.menus__menu {
			margin-bottom: 20px;
			height: 160px;

			a {
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				&:hover {
					text-decoration: none;
					
				}				
			}

			.menu__name {
				font-size: 12px;
				text-align: center;
			}
		}								
    		
    }

    .stores {


    	.store {

			.store__info {

				ul {
					list-style: none;
					padding-left: 0;
					li {
						i {
							margin-right: 20px;
						}
					}
				}

			}

			&.right {

				.store__photo {

					.col {
						float: right;
					}

				}

				.store__info {

					.col {
						float: left;
					}

				}
			}

    	}

     }
   

}

footer {
	padding: 50px 0px;
}
